<p style="text-align: center;">
    <img src="~/Content/images/page0001.jpg" />
    <img src="~/Content/images/page0002.jpg" />
</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-info">Return to Home
</a>
